<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Cook Menu - Site</title>
</head>
<body>
    <div class="container" ng-app="myApp" ng-controller="myCtrl">
        <div ng-controller="myCtrl">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand mb-0 h1" href="#">COOK MENU</a>
                <span class="navbar-text ml-auto" ng-repeat="x in users">Welcome, {{ x.fname }} {{ x.lname }}</span>
            </nav>
            <div class="header-cover">
                <div class="header-container">
                    <img src="./img/cover.svg" alt="">
                </div>
            </div>
        </div>
        <br />
        <nav>
            <div id="myTab" class="nav nav-tabs" id="nav-tab" role="tablist">
                <!-- <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a> -->
                <a class="cc nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-menu" role="tab" aria-controls="nav-menu" aria-selected="true">Menu</a>
                <a class="cc nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-account" role="tab" aria-controls="nav-account" aria-selected="false">My Account</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <!-- <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div> -->
            <div class="tab-pane fade show active" id="nav-menu" role="tabpanel" aria-labelledby="nav-menu-tab" ng-controller="myCtrl">
                <br />
                <button class="btn btn-outline-dark" onclick="newMenu()">Create New Menu</button>
                <br /><br />
                <div id="new-menu" style="display: none;">
                    <form name="menuForm" ng-submit="submitMenu()">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input class="form-control" type="text" ng-model="menu_name">
                                    <div id="field_name" style="display: none;">
                                        <span style="color: red"><small>Please fill out this field!</small></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Type</label>
                                    <select class="custom-select" ng-model="menu_type">
                                        <option value="Food">Food</option>
                                        <option value="Bekery">Bekery</option>
                                        <option value="Dessert">Dessert</option>
                                        <option value="Drink">Drink</option>
                                    </select>
                                    <div id="field_type" style="display: none;">
                                        <span style="color: red"><small>Please fill out this field!</small></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Price</label>
                                    <input class="form-control" type="number" value="0.00" step="0.01" ng-model="menu_price">
                                    <div id="field_price" style="display: none;">
                                        <span style="color: red"><small>Please fill out this field!</small></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Cuisine</label>
                                    <select class="custom-select" ng-model="menu_cuisine">
                                        <option value="American">American</option>
                                        <option value="Mexican">Maxican</option>
                                        <option value="Thai">Thai</option>
                                        <option value="Italian">Italian</option>
                                        <option value="Korean">Korean</option>
                                        <option value="Japanese">Japanese</option>
                                        <option value="Vietnamese">Vietnamese</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <div id="field_cuisine" style="display: none;">
                                        <span style="color: red"><small>Please fill out this field!</small></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <textarea class="form-control" name="" id="" cols="30" rows="5" ng-model="menu_desc"></textarea>
                                    <div id="field_desc" style="display: none;">
                                        <span style="color: red"><small>Please fill out this field!</small></span>
                                    </div>
                                </div>
                                <button class="btn btn-dark" type="submit" style="float: right;">Create</button>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </form>
                    <br /><br />
                </div>
                <span ng-repeat="x in menus">
                    <div>
                        <div class="row">
                            <div class="col">
                                <h5 style="display: inline-block;">{{ x.name }}</h5> 
                                <!-- <button style="display: inline-block; margin-left: 20px;" class="btn btn-sm btn-outline-dark">Edit</button> -->
                                <button style="display: inline-block; margin-left: 20px;" class="btn btn-sm btn-dark" ng-click="deleteMenu(x.id)">Delete</button>
                            </div>
                        </div>
                    </div>
                    <p>Type: {{ x.type }}</p>
                    <p>Cuisine: {{ x.cuisine }} Food</p>
                    <p>Price: ${{ x.price }}</p>
                    <p>Description: {{ x.description }}</p>
                    <hr>
                </span>
            </div>
            <div class="tab-pane fade" id="nav-account" role="tabpanel" aria-labelledby="nav-account-tab">
                <br />
                <div id="user-info" ng-controller="myCtrl">
                    <h5>Account Information</h5>
                    <span ng-repeat="x in users">
                        <p>First Name: {{ x.fname }}</p>
                        <p>Last Name: {{ x.lname }}</p>
                        <p>Address: {{ x.address }}</p>
                        <p>Phone: {{ x.phone }}</p>
                    </span>
                    <button class="btn btn-outline-dark" onClick="editUser()">Edit</button>
                </div>
                <div id="edit-user" style="display: none;" ng-controller="myCtrl">
                    <h5>Account Information</h5>
                    <form name="userForm">
                            <div class="form-group">
                                <label for="">First Name</label>
                                <input class="form-control" type="text" ng-value="user.fname" ng-model="user.fname">
                                <div id="field_fname" style="display: none;">
                                    <span style="color: red"><small>Please fill out this field!</small></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Last Name</label>
                                <input class="form-control" type="text" ng-value="user.lname" ng-model="user.lname">
                                <div id="field_lname" style="display: none;">
                                    <span style="color: red"><small>Please fill out this field!</small></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Address</label>
                                <input class="form-control" type="text" ng-value="user.address" ng-model="user.address">
                                <div id="field_address" style="display: none;">
                                    <span style="color: red"><small>Please fill out this field!</small></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Phone Number</label>
                                <input class="form-control" type="text" ng-value="user.phone" ng-model="user.phone">
                                <div id="field_phone" style="display: none;">
                                    <span style="color: red"><small>Please fill out this field!</small></span>
                                </div>
                            </div>                           
                            <button type="submit" class="btn btn-dark" ng-click="submitUser()">Save</button>
                            <button class="btn btn-outline-dark" onclick="cancelEdit()">cancel</button>
                        <!-- </span> -->
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <script src="./js/index.js"></script>
</body>
</html>